.container
{
    display: flex;
    align-items:center; 
    justify-content: center;
    margin-top:2rem;
}
.button
{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;

}

.img
{
    width:70px;
    height:70px;
    display: inline-block;
    margin-left:1rem;
}