
.clicker
{
  margin:0 auto;
  margin-top:50px;
  width:20%;
  border:1px solid black;
  background-color:rgba(230,230,230,0.5);

}

.screen
{
 font-size:7rem;
 margin: 2rem 0rem;
 display: inline-block;
 color:rgb(117, 116, 116);

}

.control
{
    
    display: flex;
    justify-content: start;
    margin:0;
    
}